* {
    direction: rtl;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    text-align: center;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
  }
  
  button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  i{
    padding: 5px;
  }
  
  
  button:hover{
      background-color: #2ca2f1;
  }
  


  form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: #2c3e50;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}

form:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    resize: none; 
}

form h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: white;
}

form label {
    font-size: 1em;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
    text-align: right;
}

form input{
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 1em;
}

form button {
    padding: 12px 20px;
    background-color: #487db2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 15px;
    width: 60%;
}

form button:hover {
    background-color: #248af0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.error-message {
    color: red;
    text-align: center;
    font-size: 15px;
 
}
